.topsortby {
    padding-top: 30px;
    padding-bottom: 69px;
    border-bottom: 1px solid #e6e6e6;
}
.clearfix {
	float: none;
	clear: both;
}
.rightcontent{min-height:500px; }
.hpadding20{padding: 0px 20px 0px 20px;}
.left{float:left;}
.mt7{position:relative; top:7px;}
.right{float:right;}
.wh70percent{width:70%;}

.popularbtn{
    border:2px solid #ebebeb;
    padding:5px 10px 5px 10px;
    background:#fff;
    color:#999;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.popularbtn:hover{
    color:#666;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.customSelect {
    background:url('/assets/images/select.png') #fff no-repeat right;
    border:2px solid #ebebeb;
}


.listitem2{background:#ffffff; height:252px; overflow:hidden; position:relative;}
.listitem2 img{ height:100%; -webkit-transition:.3s;-moz-transition:.3s;transition:.3s}
/* .listitem2:hover img{height:120%; margin-left:-10%; margin-top:-10%; -webkit-transition:.3s;-moz-transition:.3s;transition:.3s;} */

/* .labelleft2{padding:10px 0 15px 15px;font-family:"Open Sans"; font-size:13px; line-height:18px;} */
/* .labelleft2{
    width: 80%;
} */
@media (max-width: 992px) {
.listitem2{background:#ffffff; width:100%; height:100%; overflow:hidden; position:relative;}
.listitem2 img{width:100%; -webkit-transition:.3s;-moz-transition:.3s;transition:.3s}
/* .listitem2:hover img{width:120%; margin-left:-10%; margin-top:-10%; -webkit-transition:.3s;-moz-transition:.3s;transition:.3s;} */
}
@media (min-width: 1200px) {
.listitem2 img{width:100%; -webkit-transition:.3s;-moz-transition:.3s;transition:.3s}
/* .listitem2:hover img{width:120%; margin-left:-10%; margin-top:-10%; -webkit-transition:.3s;-moz-transition:.3s;transition:.3s;} */
}

.fav-icon{
    width:25px; 
    height:23px; 
    background:url('/assets/images/fav-book-icons.png') scroll 0 -70px no-repeat;
    position:absolute;
    top:0px;
    }
    .fav-icon:hover{
    width:25px; 
    height:23px; 
    background:url('/assets/images/fav-book-icons.png') scroll 0 -93px no-repeat;
    position:absolute;
    top:0px;
}
.book-icon{
    width:25px; 
    height:23px; 
    background:url('/assets/images/fav-book-icons.png') scroll 0 0 no-repeat;
    position:absolute;
    top:0px;
}
.book-icon:hover{
    width:25px; 
    height:23px; 
    background:url('/assets/images/fav-book-icons.png') scroll 0 -23px no-repeat;
    position:absolute;
    top:0px;
}


.itemlabel3{background:#fff; width:89%; height:210px;  font-family:"Open Sans"; font-size:13px; line-height:15px; overflow:hidden;}
.labelright{float:right; height:100%; padding:10px; border-left:1px solid #e8e8e8;}

.size11{font-size:11px;}


.grey{color:#999;}


.bookbtn{
    border:2px solid #ebebeb;
    padding:5px 15px 5px 15px;
    background:#fff;
    color:#999;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-transition:.2s;-moz-transition:.2s;transition:.2s
}
.bookbtn:hover{
    border:2px solid #006699;
    color:#fff;
    background:#006699;
}
.bookbtn:hover.cunvailable{
    border:2px solid #ebebeb;
    padding:5px 15px 5px 15px;
    background:#fff;
    color:#999;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-transition:.2s;-moz-transition:.2s;transition:.2s
}

.mt1{position:relative; top:1px;}

/*PREFERENCE LIST*/
ul.hotelpreferences {margin: 0px;padding: 0px;list-style: none;}
.hotelpreferences li{
    width:28px; 
    height:28px; 
    background:url('#fff') ; border:2px solid #efefef;
    border:2px solid #ebebeb;
    padding:5px;
    color:#999;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    /*-webkit-transition:.2s;-moz-transition:.2s;transition:.2s;	*/
    float:left;
    margin-left:2px;
}
.hotelpreferences li:hover{}
.hotelpreferences li.icohp-internet{background:url('/assets/images/hotelpref-ico.png') #fff scroll -3px -3px no-repeat;}
.hotelpreferences li:hover.icohp-internet{background:url('/assets/images/hotelpref-ico.png') #fff scroll -33px -3px no-repeat;}
.hotelpreferences li.icohp-air{background:url('/assets/images/hotelpref-ico.png') #fff scroll -3px -33px no-repeat;}
.hotelpreferences li:hover.icohp-air{background:url('/assets/images/hotelpref-ico.png') #fff scroll -33px -33px no-repeat;}
.hotelpreferences li.icohp-pool{background:url('/assets/images/hotelpref-ico.png') #fff scroll -3px -63px no-repeat;}
.hotelpreferences li:hover.icohp-pool{background:url('/assets/images/hotelpref-ico.png') #fff scroll -33px -63px no-repeat;}
.hotelpreferences li.icohp-childcare{background:url('/assets/images/hotelpref-ico.png') #fff scroll -3px -93px no-repeat;}
.hotelpreferences li:hover.icohp-childcare{background:url('/assets/images/hotelpref-ico.png') #fff scroll -33px -93px no-repeat;}
.hotelpreferences li.icohp-fitness{background:url('/assets/images/hotelpref-ico.png') #fff scroll -3px -123px no-repeat;}
.hotelpreferences li:hover.icohp-fitness{background:url('/assets/images/hotelpref-ico.png') #fff scroll -33px -123px no-repeat;}
.hotelpreferences li.icohp-breakfast{background:url('/assets/images/hotelpref-ico.png') #fff scroll -3px -153px no-repeat;}
.hotelpreferences li:hover.icohp-breakfast{background:url('/assets/images/hotelpref-ico.png') #fff scroll -33px -153px no-repeat;}
.hotelpreferences li.icohp-parking{background:url('/assets/images/hotelpref-ico.png') #fff scroll -3px -183px no-repeat;}
.hotelpreferences li:hover.icohp-parking{background:url('/assets/images/hotelpref-ico.png') #fff scroll -33px -183px no-repeat;}
.hotelpreferences li.icohp-pets{background:url('/assets/images/hotelpref-ico.png') #fff scroll -3px -213px no-repeat;}
.hotelpreferences li:hover.icohp-pets{background:url('/assets/images/hotelpref-ico.png') #fff scroll -33px -213px no-repeat;}
.hotelpreferences li.icohp-spa{background:url('/assets/images/hotelpref-ico.png') #fff scroll -3px -243px no-repeat;}
.hotelpreferences li:hover.icohp-spa{background:url('/assets/images/hotelpref-ico.png') #fff scroll -33px -243px no-repeat;}
.hotelpreferences li.icohp-hairdryer{background:url('/assets/images/hotelpref-ico.png') #fff scroll -3px -273px no-repeat;}
.hotelpreferences li:hover.icohp-hairdryer{background:url('/assets/images/hotelpref-ico.png') #fff scroll -33px -273px no-repeat;}
.hotelpreferences li.icohp-garden{background:url('/assets/images/hotelpref-ico.png') #fff scroll -3px -303px no-repeat;}
.hotelpreferences li:hover.icohp-garden{background:url('/assets/images/hotelpref-ico.png') #fff scroll -33px -303px no-repeat;}
.hotelpreferences li.icohp-grill{background:url('/assets/images/hotelpref-ico.png') #fff scroll -3px -333px no-repeat;}
.hotelpreferences li:hover.icohp-grill{background:url('/assets/images/hotelpref-ico.png') #fff scroll -33px -333px no-repeat;}
.hotelpreferences li.icohp-kitchen{background:url('/assets/images/hotelpref-ico.png') #fff scroll -3px -363px no-repeat;}
.hotelpreferences li:hover.icohp-kitchen{background:url('/assets/images/hotelpref-ico.png') #fff scroll -33px -363px no-repeat;}
.hotelpreferences li.icohp-bar{background:url('/assets/images/hotelpref-ico.png') #fff scroll -3px -393px no-repeat;}
.hotelpreferences li:hover.icohp-bar{background:url('/assets/images/hotelpref-ico.png') #fff scroll -33px -393px no-repeat;}
.hotelpreferences li.icohp-living{background:url('/assets/images/hotelpref-ico.png') #fff scroll -3px -423px no-repeat;}
.hotelpreferences li:hover.icohp-living{background:url('/assets/images/hotelpref-ico.png') #fff scroll -33px -423px no-repeat;}
.hotelpreferences li.icohp-tv{background:url('/assets/images/hotelpref-ico.png') #fff scroll -3px -453px no-repeat;}
.hotelpreferences li:hover.icohp-tv{background:url('/assets/images/hotelpref-ico.png') #fff scroll -33px -453px no-repeat;}
.hotelpreferences li.icohp-fridge{background:url('/assets/images/hotelpref-ico.png') #fff scroll -3px -483px no-repeat;}
.hotelpreferences li:hover.icohp-fridge{background:url('/assets/images/hotelpref-ico.png') #fff scroll -33px -483px no-repeat;}
.hotelpreferences li.icohp-microwave{background:url('/assets/images/hotelpref-ico.png') #fff scroll -3px -513px no-repeat;}
.hotelpreferences li:hover.icohp-microwave{background:url('/assets/images/hotelpref-ico.png') #fff scroll -33px -513px no-repeat;}
.hotelpreferences li.icohp-washing{background:url('/assets/images/hotelpref-ico.png') #fff scroll -3px -543px no-repeat;}
.hotelpreferences li:hover.icohp-washing{background:url('/assets/images/hotelpref-ico.png') #fff scroll -33px -543px no-repeat;}
.hotelpreferences li.icohp-roomservice{background:url('/assets/images/hotelpref-ico.png') #fff scroll -3px -573px no-repeat;}
.hotelpreferences li:hover.icohp-roomservice{background:url('/assets/images/hotelpref-ico.png') #fff scroll -33px -573px no-repeat;}
.hotelpreferences li.icohp-safe{background:url('/assets/images/hotelpref-ico.png') #fff scroll -3px -603px no-repeat;}
.hotelpreferences li:hover.icohp-safe{background:url('/assets/images/hotelpref-ico.png') #fff scroll -33px -603px no-repeat;}
.hotelpreferences li.icohp-playground{background:url('/assets/images/hotelpref-ico.png') #fff scroll -3px -633px no-repeat;}
.hotelpreferences li:hover.icohp-playground{background:url('/assets/images/hotelpref-ico.png') #fff scroll -33px -633px no-repeat;}
.hotelpreferences li.icohp-conferenceroom{background:url('/assets/images/hotelpref-ico.png') #fff scroll -3px -663px no-repeat;}
.hotelpreferences li:hover.icohp-conferenceroom{background:url('/assets/images/hotelpref-ico.png') #fff scroll -33px -663px no-repeat;}



div.paddingLeft{
    padding-left: 0 !important;
}



.image_item {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    vertical-align: middle;
    display: inline-block;
}

.iconpositions{
    position: absolute;
    bottom: 10px;
}

















