.image_upload_icon{
    background: url('/assets/images/upload_icon.png');
    background-repeat: no-repeat;
    background-position: center;
    background-origin: content-box;
    /* background: url('/assets/images/gallery-512.png'); */
    height: 220px;
    width: 220px;


}